<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body>

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>


<div class="container container_higher" id="out">
    <h1><i class="fa fa-newspaper-o" aria-hidden="true"></i> 病房公告</h1>
    <div class="clearfix"></div>
    <table class="overflow-y">
        <thead>
        <tr>
            <th>起始日期</th>
            <th>迄止日期</th>
            <th>內容</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        <tr>
            <td class="date">2016 / 11 / 11</td>
            <td class="date">2016 / 11 / 11</td>
            <td>送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。</td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
</div>

<%- include('../Common/eBoardFooter', {func: 'announcement'}) %>

<%- include ../Common/importJSFiles.ejs %>
</body>

</html>
