<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body>

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>

<div class="container container_higher" id="out">
    <h1><span><i class="fa fa-check-square-o" aria-hidden="true"></i> 出院</span></h1>
    <div class="clearfix"></div>
    <table class="overflow-y">
        <thead>
        <tr>
            <th>病床</th>
            <th>病患</th>
            <th>備註</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>07-03</td>
            <td><span class="female">鄭秀文(36)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="male">古天樂(41)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="female">鄭秀文(36)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="male">古天樂(41)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="female">鄭秀文(36)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="male">古天樂(41)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="female">鄭秀文(36)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="male">古天樂(41)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="female">鄭秀文(36)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="male">古天樂(41)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="female">鄭秀文(36)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="male">古天樂(41)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="female">鄭秀文(36)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="male">古天樂(41)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="female">鄭秀文(36)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="male">古天樂(41)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="female">鄭秀文(36)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="male">古天樂(41)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="female">鄭秀文(36)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        <tr>
            <td>07-03</td>
            <td><span class="male">古天樂(41)</span></td>
            <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
</div>

<%- include('../Common/eBoardFooter', {func: 'dischargeNote'}) %>

<%- include ../Common/importJSFiles.ejs %>

</body>

</html>
