<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body>

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>


<div class="container container_higher" id="out">
    <div class="clearfix"></div>
    <table class="overflow-y">
        <thead>
        <tr>
            <th>姓名</th>
            <th>病床</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- <div class="nurse_tabs">
        <div data-pws-tab="nurse_tabs_1" data-pws-tab-name="其他醫師">
        </div>
        <div data-pws-tab="nurse_tabs_2" data-pws-tab-name="值班醫師">
            <table class="overflow-y">
                <thead>
                    <tr>
                        <th>醫師別</th>
                        <th>姓名</th>
                        <th>手機號碼</th>
                        <th>院內電話</th>
                        <th>病床</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>主治醫師</td>
                        <td>賴筱菁</td>
                        <td>0987654321</td>
                        <td>51429</td>
                        <td>
                            <div class="bed_label bed_label_bed">03-01</div>
                            <div class="bed_label bed_label_bed">07-01</div>
                            <div class="bed_label bed_label_bed">07-02</div>
                            <div class="bed_label bed_label_bed">07-03</div>
                            <div class="bed_label bed_label_bed">07-05</div>
                            <div class="bed_label bed_label_bed">10-01</div>
                            <div class="bed_label bed_label_bed">13-02</div>
                        </td>
                    </tr>
                    <tr>
                        <td>主治醫師</td>
                        <td>賴筱菁</td>
                        <td>0987654321</td>
                        <td>51429</td>
                        <td>
                            <div class="bed_label bed_label_bed">03-01</div>
                            <div class="bed_label bed_label_bed">07-01</div>
                            <div class="bed_label bed_label_bed">07-02</div>
                            <div class="bed_label bed_label_bed">07-03</div>
                            <div class="bed_label bed_label_bed">07-05</div>
                            <div class="bed_label bed_label_bed">10-01</div>
                            <div class="bed_label bed_label_bed">13-02</div>
                        </td>
                    </tr>
                    <tr>
                        <td>主治醫師</td>
                        <td>賴筱菁</td>
                        <td>0987654321</td>
                        <td>51429</td>
                        <td>
                            <div class="bed_label bed_label_bed">03-01</div>
                            <div class="bed_label bed_label_bed">07-01</div>
                            <div class="bed_label bed_label_bed">07-02</div>
                            <div class="bed_label bed_label_bed">07-03</div>
                            <div class="bed_label bed_label_bed">07-05</div>
                            <div class="bed_label bed_label_bed">10-01</div>
                            <div class="bed_label bed_label_bed">13-02</div>
                        </td>
                    </tr>
                    <tr>
                        <td>主治醫師</td>
                        <td>賴筱菁</td>
                        <td>0987654321</td>
                        <td>51429</td>
                        <td>
                            <div class="bed_label bed_label_bed">03-01</div>
                            <div class="bed_label bed_label_bed">07-01</div>
                            <div class="bed_label bed_label_bed">07-02</div>
                            <div class="bed_label bed_label_bed">07-03</div>
                            <div class="bed_label bed_label_bed">07-05</div>
                            <div class="bed_label bed_label_bed">10-01</div>
                            <div class="bed_label bed_label_bed">13-02</div>
                        </td>
                    </tr>
                    <tr>
                        <td>主治醫師</td>
                        <td>賴筱菁</td>
                        <td>0987654321</td>
                        <td>51429</td>
                        <td>
                            <div class="bed_label bed_label_bed">03-01</div>
                            <div class="bed_label bed_label_bed">07-01</div>
                            <div class="bed_label bed_label_bed">07-02</div>
                            <div class="bed_label bed_label_bed">07-03</div>
                            <div class="bed_label bed_label_bed">07-05</div>
                            <div class="bed_label bed_label_bed">10-01</div>
                            <div class="bed_label bed_label_bed">13-02</div>
                        </td>
                    </tr>
                    <tr>
                        <td>主治醫師</td>
                        <td>賴筱菁</td>
                        <td>0987654321</td>
                        <td>51429</td>
                        <td>
                            <div class="bed_label bed_label_bed">03-01</div>
                            <div class="bed_label bed_label_bed">07-01</div>
                            <div class="bed_label bed_label_bed">07-02</div>
                            <div class="bed_label bed_label_bed">07-03</div>
                            <div class="bed_label bed_label_bed">07-05</div>
                            <div class="bed_label bed_label_bed">10-01</div>
                            <div class="bed_label bed_label_bed">13-02</div>
                        </td>
                    </tr>
                    <tr>
                        <td>主治醫師</td>
                        <td>賴筱菁</td>
                        <td>0987654321</td>
                        <td>51429</td>
                        <td>
                            <div class="bed_label bed_label_bed">03-01</div>
                            <div class="bed_label bed_label_bed">07-01</div>
                            <div class="bed_label bed_label_bed">07-02</div>
                            <div class="bed_label bed_label_bed">07-03</div>
                            <div class="bed_label bed_label_bed">07-05</div>
                            <div class="bed_label bed_label_bed">10-01</div>
                            <div class="bed_label bed_label_bed">13-02</div>
                        </td>
                    </tr>
                    <tr>
                        <td>主治醫師</td>
                        <td>賴筱菁</td>
                        <td>0987654321</td>
                        <td>51429</td>
                        <td>
                            <div class="bed_label bed_label_bed">03-01</div>
                            <div class="bed_label bed_label_bed">07-01</div>
                            <div class="bed_label bed_label_bed">07-02</div>
                            <div class="bed_label bed_label_bed">07-03</div>
                            <div class="bed_label bed_label_bed">07-05</div>
                            <div class="bed_label bed_label_bed">10-01</div>
                            <div class="bed_label bed_label_bed">13-02</div>
                        </td>
                    </tr>
                    <tr>
                        <td>主治醫師</td>
                        <td>賴筱菁</td>
                        <td>0987654321</td>
                        <td>51429</td>
                        <td>
                            <div class="bed_label bed_label_bed">03-01</div>
                            <div class="bed_label bed_label_bed">07-01</div>
                            <div class="bed_label bed_label_bed">07-02</div>
                            <div class="bed_label bed_label_bed">07-03</div>
                            <div class="bed_label bed_label_bed">07-05</div>
                            <div class="bed_label bed_label_bed">10-01</div>
                            <div class="bed_label bed_label_bed">13-02</div>
                        </td>
                    </tr>
                    <tr>
                        <td>主治醫師</td>
                        <td>賴筱菁</td>
                        <td>0987654321</td>
                        <td>51429</td>
                        <td>
                            <div class="bed_label bed_label_bed">03-01</div>
                            <div class="bed_label bed_label_bed">07-01</div>
                            <div class="bed_label bed_label_bed">07-02</div>
                            <div class="bed_label bed_label_bed">07-03</div>
                            <div class="bed_label bed_label_bed">07-05</div>
                            <div class="bed_label bed_label_bed">10-01</div>
                            <div class="bed_label bed_label_bed">13-02</div>
                        </td>
                    </tr>
                    <tr>
                        <td>主治醫師</td>
                        <td>賴筱菁</td>
                        <td>0987654321</td>
                        <td>51429</td>
                        <td>
                            <div class="bed_label bed_label_bed">03-01</div>
                            <div class="bed_label bed_label_bed">07-01</div>
                            <div class="bed_label bed_label_bed">07-02</div>
                            <div class="bed_label bed_label_bed">07-03</div>
                            <div class="bed_label bed_label_bed">07-05</div>
                            <div class="bed_label bed_label_bed">10-01</div>
                            <div class="bed_label bed_label_bed">13-02</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
</div>

<%- include('../Common/eBoardFooter', {func: 'doctorInfo'}) %>

<%- include ../Common/importJSFiles.ejs %>

<div class="remodal" data-remodal-id="rooms_modal">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>05-01</div>
        <div><span class="female">鄭秀文(36)</span></div>
    </div>
    <div class="remodal_body">
        <div class="rooms_tabs">
            <div data-pws-tab="rooms_tabs_1" data-pws-tab-name="基本資料">
                <table>
                    <tbody>
                    <tr>
                        <td class="text-right">主治醫師</td>
                        <td><span class="doctor">陳益祥</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">住院醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">實習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">專科護理師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">見習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">護理師</td>
                        <td><span class="doctor">李靜宜</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">手術</td>
                        <td><span class="doctor">XXXX手術</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">狀態</td>
                        <td class="doctor_cond">
                            <span class="cond_dot cond_green"></span>跌倒
                            <span class="cond_dot cond_blue"></span>隔離
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-pws-tab="rooms_tabs_2" data-pws-tab-name="過敏資料">
                <table>
                    <tbody>
                    <tr>
                        <td class="text-right">主治醫師</td>
                        <td><span class="doctor">陳益祥</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">住院醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">實習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">專科護理師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">見習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">手術</td>
                        <td><span class="doctor">XXXX手術</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">狀態</td>
                        <td class="doctor_cond">
                            <span class="cond_dot cond_green"></span>跌倒
                            <span class="cond_dot cond_blue"></span>隔離
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-pws-tab="rooms_tabs_3" data-pws-tab-name="醫囑資料">
                <table>
                    <tbody>
                    <tr>
                        <td class="text-right">主治醫師</td>
                        <td><span class="doctor">陳益祥</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">住院醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">實習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">專科護理師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">手術</td>
                        <td><span class="doctor">XXXX手術</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">狀態</td>
                        <td class="doctor_cond">
                            <span class="cond_dot cond_green"></span>跌倒
                            <span class="cond_dot cond_blue"></span>隔離
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-pws-tab="rooms_tabs_4" data-pws-tab-name="待辦資料">
                <table>
                    <tbody>
                    <tr>
                        <td class="text-right">主治醫師</td>
                        <td><span class="doctor">陳益祥</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">住院醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">實習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">手術</td>
                        <td><span class="doctor">XXXX手術</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">狀態</td>
                        <td class="doctor_cond">
                            <span class="cond_dot cond_green"></span>跌倒
                            <span class="cond_dot cond_blue"></span>隔離
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>
