<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body>

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>

<%- include ./vueTemplates/doctor-info-tmp.ejs %>

<div class="container container_higher" id="out">
    <div class="container_inner">
        <div class="clearfix"></div>
        <table class="overflow-y">
            <thead>
            <tr>
                <th>姓名</th>
                <th>病床</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="doctor in doctorList">
                <td>{{doctor.doctor_name}}</td>
                <td>
                    <a href="#"
                       v-for="bed in doctor.bedList"
                       class="bed_label bed_label_bed "
                       style="margin-right: 5px;"
                       @click="fetchOneBedInfo(doctor.doctor_name,bed.bed_no)">
                        {{bed.bed_no}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <doctor-info-tmp :bed-info="bedInfo"></doctor-info-tmp>

</div>


<%- include('../Common/eBoardFooter', {func: 'doctorInfo'}) %>

<%- include ../Common/importJSFiles.ejs %>

<script src="/js/EWhiteBoard/doctorInfo.js"></script>

</body>

</html>
