<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<style type="text/css">
    table,
    tr {
        background-color: #ffffff !important;
        border: 2px solid lightblue !important;
        border-collapse: collapse !important;
        text-align: center !important;
    }

    td {
        border: 2px solid lightblue !important;
    }

    td.table_hard_1 {
        background-color: rgba(255, 171, 171, .5) !important;
    }

    td.table_hard_2 {
        background-color: rgba(255, 219, 171, .5) !important;
    }

    td.table_hard_3 {
        background-color: rgba(221, 255, 171, .5) !important;
    }

    td.table_hard_4 {
        background-color: rgba(171, 228, 255, .5) !important;
    }

    td.table_hard_5 {
        background-color: rgba(216, 171, 254, .5) !important;
    }

    tr:hover {
        color: #535353 !important;
    }
</style>

<body>

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>


<div id="ope_list" class="container container_higher　iframe_inner_table">

    <div class="container_inner">
        <div class="clearfix"></div>
        <table style="text-align: center;"  id="result_table">
            <tr>
                <td class="table_hard_3">科別</td>
                <td class="table_hard_4">值班時段</td>
                <td>住院醫師</td>
                <td>主治醫師</td>
                <td class="table_hard_1">值班時段</td>
                <td>專科護理師</td>
            </tr>
            <template v-for="result in results">
            <tr>
                <td class="table_hard_3" rowspan="{{result.nurseNum}}">{{result.ShiftDataName}}</td>
                <td class="table_hard_4" rowspan="{{result.nurseNum}}">{{result.Title}}</td>
                <td rowspan="{{result.nurseNum}}">{{result.R_NAME}} {{result.R_GSMBrevity}}</td>
                <td rowspan="{{result.nurseNum}}">{{result.VS_NAME}} {{result.VS_GSMBrevity}}</td>
                <td class="table_hard_1">{{result.nurse1Title}}</td>
                <td>{{result.nurse1Name}}</td>
            </tr>
                <template v-for="nurse in result.nurseList">
                    <tr>
                        <td class="table_hard_1">{{nurse.Title}}</td>
                        <td>{{nurse.E}}</td>
                    </tr>
                </template>

            </template>
        </table>
        <div class="clearfix"></div>
        <div class="btn_group btn_group_bottom">
            <a href="#" class="btn" id="predate"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 前一天</a>
            <span id="thisdate" style="color:black;">2016-11-11</span>
            <a href="#" class="btn" id="nextdate"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 後一天</a>
        </div>

    <div class="clearfix"></div>
        </div>
        </div>
</div>

<%- include('../Common/eBoardFooter', {func: 'doctorOnDuty'}) %>

<%- include ../Common/importJSFiles.ejs %>

</body>

</html>
<script type="text/javascript" src="../js/EWhiteBoard/doctorOnDuty.js"></script>