<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body>

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>

<%-include ./vueTemplates/doctor-info-tmp.ejs%>

<div class="container container_higher" id="out">
    <div class="clearfix"></div>

    <table class="overflow-y">
        <thead>
        <tr>
            <th>姓名</th>
            <th>病床</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        <tr>
            <td>賴筱菁</td>
            <td>
                <a href="#rooms_modal" class="bed_label bed_label_bed">03-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">07-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-02</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-03</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">07-05</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed new">10-01</a>
                <a href="#rooms_modal" class="bed_label bed_label_bed">13-02</a>
            </td>
        </tr>
        </tbody>
    </table>

    <doctor-info-tmp></doctor-info-tmp>

</div>



<%- include('../Common/eBoardFooter', {func: 'doctorInfo'}) %>

<%- include ../Common/importJSFiles.ejs %>

<script src="/js/EWhiteBoard/doctorInfo.js"></script>

</body>

</html>
