<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body>

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>

<div class="container container_higher" id="in_and_out">
    <div>
        <h1><span><i class="fa fa-plus-square-o" aria-hidden="true"></i> 入院</span></h1>
        <table class="overflow-y">
            <thead>
            <tr>
                <th>病床</th>
                <th>病患</th>
                <th>入院帳號</th>
                <th>診斷</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>07-03</td>
                <td><span class="female">鄭秀文(36)</span></td>
                <td>12T08125840</td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="male">古天樂(41)</span></td>
                <td>12T08125840</td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="female">鄭秀文(36)</span></td>
                <td>12T08125840</td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="male">古天樂(41)</span></td>
                <td>12T08125840</td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="female">鄭秀文(36)</span></td>
                <td>12T08125840</td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="male">古天樂(41)</span></td>
                <td>12T08125840</td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="female">鄭秀文(36)</span></td>
                <td>12T08125840</td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="male">古天樂(41)</span></td>
                <td>12T08125840</td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一出美強天建媽開問元地花流太不一</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="grid_fifty no_data" style="padding-right: 10px;">
        <h1><span><i class="fa fa-check-square-o" aria-hidden="true"></i> 出院</span></h1>
        <table class="overflow-y">
            <thead>
            <tr>
                <th>病床</th>
                <th>病患</th>
                <th>備註</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>07-03</td>
                <td><span class="female">鄭秀文(36)</span></td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="male">古天樂(41)</span></td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="female">鄭秀文(36)</span></td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="male">古天樂(41)</span></td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="female">鄭秀文(36)</span></td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="male">古天樂(41)</span></td>
                <td>出美強天建媽開問元地花流太不一出美強天建媽開</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="female">鄭秀文(36)</span></td>
                <td>出美強天建媽開問元地花流太不一</td>
            </tr>
            <tr>
                <td>07-03</td>
                <td><span class="male">古天樂(41)</span></td>
                <td>出美強天建媽開問元地花流太不一</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="grid_fifty no_data" style="padding-left: 10px;">
        <h1><span><i class="fa fa-random" aria-hidden="true"></i> 預約轉床</span></h1>
        <table class="overflow-y">
            <thead>
            <tr>
                <th>登錄日期</th>
                <th>病床</th>
                <th>病患</th>
                <th>床位</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016/11/11</td>
                <td>07-03</td>
                <td><span class="female">鄭秀文(36)</span></td>
                <td>單人房</td>
            </tr>
            <tr>
                <td>2016-11-11</td>
                <td>07-03</td>
                <td><span class="male">古*樂(41)</span></td>
                <td>單人房</td>
            </tr>
            <tr>
                <td>2016 11 11</td>
                <td>07-03</td>
                <td><span class="female">鄭**(36)</span></td>
                <td>單人房</td>
            </tr>
            <tr>
                <td>20161111</td>
                <td>07-03</td>
                <td><span class="male">古天*(41)</span></td>
                <td>單人房</td>
            </tr>
            <tr>
                <td>2016/11/11</td>
                <td>07-03</td>
                <td><span class="female">鄭秀文(36)</span></td>
                <td>單人房</td>
            </tr>
            <tr>
                <td>2016-11-11</td>
                <td>07-03</td>
                <td><span class="male">古*樂(41)</span></td>
                <td>單人房</td>
            </tr>
            <tr>
                <td>2016 11 11</td>
                <td>07-03</td>
                <td><span class="female">鄭**(36)</span></td>
                <td>單人房</td>
            </tr>
            <tr>
                <td>20161111</td>
                <td>07-03</td>
                <td><span class="male">古天*(41)</span></td>
                <td>單人房</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="btn_group btn_group_bottom">
        <a href="#" class="btn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 前一天</a>
        <span>2016-11-11</span>
        <a href="#" class="btn"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 後一天</a>
    </div>
</div>

<%- include('../Common/eBoardFooter', {func: 'in_out_info'}) %>

<%- include ../Common/importJSFiles.ejs %>

</body>

</html>
