<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body>

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>

<div class="container container_higher" id="in_and_out">
    <div>
        <h1><span><i class="fa fa-plus-square-o" aria-hidden="true"></i> 入院 / 轉入</span></h1>
        <table class="overflow-y">
            <thead>
            <tr>
                <th>病床</th>
                <th>病例號碼</th>
                <th>病患</th>
                <th>主治醫師</th>
                <th>護理師</th>
                <th>診斷</th>
                <th>備註</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td class="date"><span class="female">瑪莉亞○莉(36)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td>(780.4 眩暈)<span style="opacity: 0">鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文鄭○文</span></td>
                <td>急診</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td><span class="male">古○樂(41)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td>(780.4 眩暈)工和學母產：時爭中館叫人青，大也到兩仍現銷爾……學車二大有作得一支天爸美精些行河認全：了可中告現運人，下法角日是，找藝體快。工和學母產：時爭中館叫人青，大也到兩仍現銷爾……學車二大有作得一支天爸美精些行河認全：了可中告現運人，下法角日是，找藝體快。</td>
                <td>急診</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td class="date"><span class="female">鄭○文(36)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td>(780.4 眩暈)</td>
                <td>急診</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td><span class="male">古○樂(41)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td>(780.4 眩暈)</td>
                <td>急診</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td class="date"><span class="female">鄭○文(36)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td>(780.4 眩暈)</td>
                <td>急診</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td><span class="male">古○樂(41)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td>(780.4 眩暈)</td>
                <td>急診</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td class="date"><span class="female">鄭○文(36)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td>(780.4 眩暈)</td>
                <td>急診</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td><span class="male">古○樂(41)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td>(780.4 眩暈)</td>
                <td>急診</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div>
        <h1><span><i class="fa fa-check-square-o" aria-hidden="true"></i> 出院 / 轉出</span></h1>
        <table class="overflow-y">
            <thead>
            <tr>
                <th>病床</th>
                <th>病例號碼</th>
                <th>病患</th>
                <th>主治醫師</th>
                <th>護理師</th>
                <th>狀態</th>
                <th>備註</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td class="date"><span class="female">瑪莉亞○莉(36)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td class="date">已出院</td>
                <td class="date">20151002</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td><span class="male">古○樂(41)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td class="date">已出院</td>
                <td class="date">20151002</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td class="date"><span class="female">鄭○文(36)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td class="date">已出院</td>
                <td class="date">20151002</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td><span class="male">古○樂(41)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td class="date">已出院</td>
                <td class="date">20151002</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td class="date"><span class="female">鄭○文(36)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td class="date">已出院</td>
                <td class="date">20151002</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td><span class="male">古○樂(41)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td class="date">已出院</td>
                <td class="date">20151002</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td class="date"><span class="female">鄭○文(36)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td class="date">已出院</td>
                <td class="date">20151002</td>
            </tr>
            <tr>
                <td class="date">07-03</td>
                <td class="date">12T08125840</td>
                <td><span class="male">古○樂(41)</span></td>
                <td class="date">廖駿</td>
                <td class="date">楊銹惠</td>
                <td class="date">已出院</td>
                <td class="date">20151002</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="btn_group btn_group_bottom">
        <a href="#" class="btn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 前一天</a>
        <span>2016-11-11</span>
        <a href="#" class="btn"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 後一天</a>
    </div>
</div>

<%- include('../Common/eBoardFooter', {func: 'in_out_info'}) %>

<%- include ../Common/importJSFiles.ejs %>

</body>

</html>
