<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body>

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>

<div class="container container_higher" id="in_and_out">
    <div >
        <h1><span><i class="fa fa-plus-square-o" aria-hidden="true"></i> 入院 / 轉入  </span></h1>
        <table class="overflow-y">
            <thead>
            <tr>
                <th>病床</th>
                <th>病例號碼</th>
                <th>病患</th>
                <th>主治醫師</th>
                <th>護理師</th>
                <th>診斷</th>
                <th>備註</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="data in inTranList">
                <td class="date">{{data.bed_no}}</td>
                <td class="date">{{data.patient_id}}</td>
                <td class="date">
                    <span :class="data.sex | convSexStringToParma">
                        {{data.paitent_name}}({{data.birthday | convBirthdayToAge}})
                    </span>
                </td>
                <td class="date">{{data.employee_name}}</td>
                <td class="date">{{data.nurse_name}}</td>
                <td>({{data.major_assess_id}})<span style="opacity: 0">{{data.icd_desc}}</span></td>
                <td class="date">{{data.data_note}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="">
        <h1><span><i class="fa fa-check-square-o" aria-hidden="true"></i> 出院 / 轉出</span></h1>
        <table class="overflow-y">
            <thead>
            <tr>
                <th>病床</th>
                <th>病例號碼</th>
                <th>病患</th>
                <th>主治醫師</th>
                <th>護理師</th>
                <th>狀態</th>
                <th>備註</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="data in outTranList">
                <td class="date">{{data.bed_no}}</td>
                <td class="date">{{data.patient_id}}</td>
                <td class="date">
                    <span :class="data.sex | convSexStringToParma">
                        {{data.paitent_name}}({{data.birthday | convBirthdayToAge}})
                    </span>
                </td>
                <td class="date">{{data.employee_name}}</td>
                <td class="date">{{data.nurse_name}}</td>
                <td class="date">{{data.data_mode}}</td>
                <td class="date">{{data.data_note}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>

    <div class="btn_group btn_group_bottom">
        <a @click="fetchPreDay" class="btn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 前一天</a>
        <span>{{queryDate}}</span>
        <a @click="fetchNextDay" class="btn"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 後一天</a>
    </div>
</div>

<%- include('../Common/eBoardFooter', {func: 'in_out_info'}) %>

<%- include ../Common/importJSFiles.ejs %>

<script src="/js/EWhiteBoard/in_out_info.js"></script>

</body>

</html>
