<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body>

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>

<%- include ./vueTemplates/patient-info-tmp.ejs %>
<%- include ./vueTemplates/nurse-info-tmp.ejs %>

<div id="app" class="container container_higher has_nested_tabs">
    <div class="nurse_tabs out_has_big_table">
        <div data-pws-tab="nurse_tabs_1" data-pws-tab-name="依護理師">
            <div class="nurse_tabs_nested nurse_tabs_nested_2">
                <div data-pws-tab="nurse_tabs_nested_2_1"
                     data-pws-tab-name="<i class='fa fa-sun-o' aria-hidden='true'></i>日班">
                    <table class="overflow-y">
                        <thead>
                        <tr>
                            <th>護理師</th>
                            <th>負責病床</th>
                            <th>負責編組</th>
                        </tr>
                        </thead>
                        <tbody id="nurse_tabs_nested_D_1">
                        <tr v-for="result in nurseListA">
                            <td class="date">{{ result.nurse_name}}<br><small class="red">{{ result.call_number}}</small></td>
                            <td>
                                <template v-for="this_bed in result.this_bedList">
                                    <template v-if="this_bed.patient_id">
                                        <a v-if="this_bed.isNew==true" @click="fetchSinglePatientInfo(this_bed.nur_id,this_bed.patient_id)" href="#rooms_modal" class="bed_label bed_label_bed new">{{ this_bed.wardbed}}</a>
                                        <a v-if="this_bed.isNew==false" @click="fetchSinglePatientInfo(this_bed.nur_id,this_bed.patient_id)" href="#rooms_modal" class="bed_label bed_label_bed">{{ this_bed.wardbed}}</a>
                                    </template>
                                    <template v-else>
                                        <a v-if="this_bed.isNew==true" @click="fetchSinglePatientInfo1(this_bed.nur_id,this_bed.patient_id)" href="#rooms_modal1" class="bed_label bed_label_bed new">{{ this_bed.wardbed}}</a>
                                        <a v-if="this_bed.isNew==false" @click="fetchSinglePatientInfo1(this_bed.nur_id,this_bed.patient_id)" href="#rooms_modal1" class="bed_label bed_label_bed">{{ this_bed.wardbed}}</a>
                                    </template>
                                </template>
                            </td>
                            <td class="date">
                                <span class="badge badge_1">{{ result.mission_group_name}}</span>&nbsp;
                                <template v-for="subgroup in result.subgroup_name_array">
                                    <span class="badge badge_2">{{subgroup}}</span>&nbsp;
                                </template>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div data-pws-tab="nurse_tabs_nested_2_2"
                     data-pws-tab-name="<i class='fa fa-moon-o' aria-hidden='true'></i>小夜">
                    <table class="overflow-y">
                        <thead>
                        <tr>
                            <th>護理師</th>
                            <th>負責病床</th>
                            <th>負責編組</th>
                        </tr>
                        </thead>
                        <tbody id="nurse_tabs_nested_E_1">
                        <tr v-for="result in nurseListB">
                            <td class="date">{{ result.nurse_name}}<br><small class="red">{{ result.call_number}}</small></td>
                            <td>
                                <template v-for="this_bed in result.this_bedList">
                                    <a v-if="this_bed.isNew==true" href="#rooms_modal" class="bed_label bed_label_bed new">{{ this_bed.wardbed}}</a>
                                    <a v-if="this_bed.isNew==false" href="#rooms_modal" class="bed_label bed_label_bed">{{ this_bed.wardbed}}</a>
                                </template>
                            </td>
                            <td class="date">
                                <span class="badge badge_1">{{ result.mission_group_name}}</span>&nbsp;
                                <template v-for="subgroup in result.subgroup_name_array">
                                    <span class="badge badge_2">{{subgroup}}</span>&nbsp;
                                </template>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div data-pws-tab="nurse_tabs_nested_2_3"
                     data-pws-tab-name="<i class='fa fa-star' aria-hidden='true'></i>大夜">
                    <table class="overflow-y">
                        <thead>
                        <tr>
                            <th>護理師</th>
                            <th>負責病床</th>
                            <th>負責編組</th>
                        </tr>
                        </thead>
                        <tbody id="nurse_tabs_nested_F_1">
                        <tr v-for="result in nurseListC">
                            <td class="date">{{ result.nurse_name}}<br><small class="red">{{ result.call_number}}</small></td>
                            <td >
                                <template v-for="this_bed in result.this_bedList">
                                    <a v-if="this_bed.isNew==true" href="#rooms_modal" class="bed_label bed_label_bed new">{{ this_bed.wardbed}}</a>
                                    <a v-if="this_bed.isNew==false" href="#rooms_modal" class="bed_label bed_label_bed">{{ this_bed.wardbed}}</a>
                                </template>
                            </td>
                            <td class="date">
                                <span class="badge badge_1">{{ result.mission_group_name}}</span>&nbsp;
                                <template v-for="subgroup in result.subgroup_name_array">
                                    <span class="badge badge_2">{{subgroup}}</span>&nbsp;
                                </template>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div data-pws-tab="nurse_tabs_2" data-pws-tab-name="依病床">
            <div class="nurse_tabs_nested nurse_tabs_nested_1">
                <div data-pws-tab="nurse_tabs_nested_1_1" data-pws-tab-name="<i class='fa fa-sun-o' aria-hidden='true'></i> 日班">
                    <table class="overflow-y">
                        <thead>
                        <tr>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                        </tr>
                        </thead>
                        <tbody id="nurse_tabs_nested_A_1">
                        <tr v-for="result in wardListA">
                            <template v-for="item in result">
                            <td><div class="bed_number_label">{{ item.ward_id}}</div></td>
                            <td>
                                <label>{{ item.nurse_name}}<br><small class="red">{{ item.call_number}}</small></label>
                            </td>
                            </template>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div data-pws-tab="nurse_tabs_nested_1_2" data-pws-tab-name="<i class='fa fa-moon-o' aria-hidden='true'></i> 小夜">
                    <table class="overflow-y">
                        <thead>
                        <tr>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                        </tr>
                        </thead>
                        <tbody id="nurse_tabs_nested_B_1">
                        <tr v-for="result in wardListB">
                            <template v-for="item in result">
                                <td><div class="bed_number_label">{{ item.ward_id}}</div></td>
                                <td>
                                    <label>{{ item.nurse_name}}<br><small class="red">{{ item.call_number}}</small></label>
                                </td>
                            </template>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div data-pws-tab="nurse_tabs_nested_1_3" data-pws-tab-name="<i class='fa fa-star' aria-hidden='true'></i> 大夜">
                    <table class="overflow-y">
                        <thead>
                        <tr>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                            <th>病床</th>
                            <th>護理師</th>
                        </tr>
                        </thead>
                        <tbody id="nurse_tabs_nested_C_1">
                        <tr v-for="result in wardListC">
                            <template v-for="item in result">
                                <td><div class="bed_number_label">{{ item.ward_id}}</div></td>
                                <td>
                                    <label>{{ item.nurse_name}}<br><small class="red">{{ item.call_number}}</small></label>
                                </td>
                            </template>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <patient-info-tmp
            :patient-info = 'patientInfo'
    ></patient-info-tmp>
    <nurse-info-tmp
            :patient-info = 'patientInfo'
    ></nurse-info-tmp>
</div>

<%- include('../Common/eBoardFooter', {func: 'nurseScheduling'}) %>

<%- include ../Common/importJSFiles.ejs %>

<!--
<div class="remodal" data-remodal-id="rooms_modal">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>05-01</div>
        <div><span class="female">鄭秀文(36)</span></div>
    </div>
    <div class="remodal_body">
        <div class="rooms_tabs">
            <div data-pws-tab="rooms_tabs_1" data-pws-tab-name="基本資料">
                <table>
                    <tbody>
                    <tr>
                        <td class="text-right">主治醫師</td>
                        <td><span class="doctor">陳益祥</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">住院醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">實習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">專科護理師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">見習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">護理師</td>
                        <td><span class="doctor">李靜宜</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">手術</td>
                        <td><span class="doctor">XXXX手術</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">狀態</td>
                        <td class="doctor_cond">
                            <span class="cond_dot cond_green"></span>跌倒
                            <span class="cond_dot cond_blue"></span>隔離
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-pws-tab="rooms_tabs_2" data-pws-tab-name="過敏資料">
                <table>
                    <tbody>
                    <tr>
                        <td class="text-right">主治醫師</td>
                        <td><span class="doctor">陳益祥</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">住院醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">實習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">專科護理師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">見習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">手術</td>
                        <td><span class="doctor">XXXX手術</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">狀態</td>
                        <td class="doctor_cond">
                            <span class="cond_dot cond_green"></span>跌倒
                            <span class="cond_dot cond_blue"></span>隔離
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-pws-tab="rooms_tabs_3" data-pws-tab-name="醫囑資料">
                <table>
                    <tbody>
                    <tr>
                        <td class="text-right">主治醫師</td>
                        <td><span class="doctor">陳益祥</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">住院醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">實習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">專科護理師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">手術</td>
                        <td><span class="doctor">XXXX手術</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">狀態</td>
                        <td class="doctor_cond">
                            <span class="cond_dot cond_green"></span>跌倒
                            <span class="cond_dot cond_blue"></span>隔離
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-pws-tab="rooms_tabs_4" data-pws-tab-name="待辦資料">
                <table>
                    <tbody>
                    <tr>
                        <td class="text-right">主治醫師</td>
                        <td><span class="doctor">陳益祥</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">住院醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">實習醫師</td>
                        <td><span class="doctor"></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">手術</td>
                        <td><span class="doctor">XXXX手術</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">狀態</td>
                        <td class="doctor_cond">
                            <span class="cond_dot cond_green"></span>跌倒
                            <span class="cond_dot cond_blue"></span>隔離
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
-->

<script src="/js/EWhiteBoard/nurseScheduling.js"></script>

</body>

</html>


