<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body id="mainApp">

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>

<%- include ./vueTemplates/surgery-info-table.ejs%>

<div id="ope_list" class="container container_higher" v-show="isReady" style="display: none;">
    <div class="container_inner">

        <surgery-info-tmp  :surgery-info-list="surgeryInfoList"> </surgery-info-tmp>

        <div class="clearfix"></div>
        <div class="btn_group btn_group_bottom">
            <a href="#weeks-table" class="btn weeks"><i class="fa fa-calendar-o" aria-hidden="true"></i> 週行程表</a>
            <a href="#" @click="fetchPreDay" class="btn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 前一天</a>
            <span style="color: #000000;">{{queryDate}}</span>
            <a href="#" @click="fetchNextDay" class="btn"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 後一天</a>
        </div>
    </div>

    <div class="remodal" data-remodal-id="weeks-table" style="max-width: 1500px;">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>週行程表</div>
        </div>
        <div class="remodal_body" style="background-color: #ffffff;">
            <surgery-info-tmp  :surgery-info-list="weekSurgeryInfoList"> </surgery-info-tmp>
        </div>
    </div>


</div>
<%- include('../Common/eBoardFooter', {func: 'surgeryInfo'}) %>

<%- include ../Common/importJSFiles.ejs %>


</body>

<script src="/js/EWhiteBoard/surgeryInfo.js"></script>
</html>
