<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body id="mainApp">

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>


<div id="ope_list" class="container container_higher" v-show="isReady" style="display: none;">
        <!-- 調整搜尋欄位變成日期前後 20161109 START -->
        <!-- 調整搜尋欄位變成日期前後 20161109 END -->
        <table class="overflow-y">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>刀房</th>
                    <th>預約時間</th>
                    <th>病床</th>
                    <th>病患</th>
                    <th>手術名稱</th>
                    <th>診斷</th>
                    <th>麻醉方式</th>
                    <th>主治醫師</th>
                    <th>狀態</th>
                </tr>
            </thead>
            <tbody>
            <!--
                table_hard_white : 恢復中
                table_hard_1 :手術中
                table_hard_2 :開刀前
                table_hard_3 :已返室
                table_hard_4 :準備中
                table_hard_5 :觀察中
            -->
                <tr  v-for="surgery in surgeryInfoList" class="table_hard_white">
                    <td class="date">{{surgery.operate_date | fmtDateMMDD }}</td>
                    <td class="date">{{surgery.op_room}}</td>
                    <td class="date">{{surgery.operate_time}}</td>
                    <td class="date">{{surgery.bed_num}}</td>
                    <td class="date"><span :class="surgery.sex | convSexStringToParma">{{surgery.patient_name}}({{surgery.birthday | convBirthdayToAge}})</span></td>
                    <td >{{surgery.operate_name}}</td>
                    <td >{{surgery.diagnosis_ENG_name}}</td>
                    <td class="date">{{surgery.Narcotization}}</td>
                    <td class="date">{{surgery.opnotemdr}}</td>
                    <td class="date">{{surgery.Patient_status }}</td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <div class="btn_group btn_group_bottom">
            <a href="#" @click="fetchPreDay" class="btn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 前一天</a>
            <span>{{queryDate}}</span>
            <a href="#" @click="fetchNextDay" class="btn"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 後一天</a>
        </div>
    </div>

<%- include('../Common/eBoardFooter', {func: 'surgeryInfo'}) %>

<%- include ../Common/importJSFiles.ejs %>


</body>

<script src="/js/EWhiteBoard/surgeryInfo.js"></script>
</html>
