<!DOCTYPE html>
<html>

<%- include ../Common/eBoardHead.ejs %>

<body>

<%- include ../Common/eBoardHeader.ejs %>

<%- include ../Common/eBoardMarquee.ejs %>


<div class="container container_higher" id="beds">
        <div class="nurse_tabs">
            <div data-pws-tab="nurse_tabs_1" data-pws-tab-name="依病床">
                <div class="grid_fifty">
                    <table class="overflow-y">
                        <thead>
                            <tr>
                                <th>病床</th>
                                <th>病患</th>
                                <th>入院帳號</th>
                                <th>待辦件數</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>05-01</td>
                                <td><span class="female">鄭秀文(36)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr class="active">
                                <td>05-01</td>
                                <td><span class="male">古天樂(41)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="female">鄭秀文(36)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="male">古天樂(41)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="female">鄭秀文(36)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="male">古天樂(41)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="female">鄭秀文(36)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="male">古天樂(41)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="female">鄭秀文(36)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="male">古天樂(41)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="female">鄭秀文(36)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="male">古天樂(41)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="female">鄭秀文(36)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="male">古天樂(41)</span></td>
                                <td>12T08125840</td>
                                <td>2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grid_fifty">
                    <div class="todo_list">
                        <ul>
                            <li>抽血</li>
                            <li>量血壓</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div data-pws-tab="nurse_tabs_2" data-pws-tab-name="依類別">
                <div class="grid_fifty">
                    <div class="todo_list todo_list_left">
                        <ul>
                            <li class="active"><a href="#">抽血</a></li>
                            <li><a href="#">量血壓</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid_fifty">
                    <table class="overflow-y">
                        <thead>
                            <tr>
                                <th>病床</th>
                                <th>病患</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>05-01</td>
                                <td><span class="female">鄭秀文(36)</span></td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="male">古天樂(41)</span></td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="female">鄭秀文(36)</span></td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="male">古天樂(41)</span></td>
                            </tr>
                            <tr>
                                <td>05-01</td>
                                <td><span class="female">鄭秀文(36)</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

<%- include('../Common/eBoardFooter', {func: 'todoItem'}) %>

<%- include ../Common/importJSFiles.ejs %>

</body>

</html>
