<!DOCTYPE html>
<html>
<%-include ../Common/head.ejs%>
<body>
<%- include('../Common/left_navbar',{moduleName:'doctor'}) %>
<%- include('../Common/headerMenu',{moduleName:'doctor', func:'1' }) %>
<%- include ../HandlebarTemplates/doctor/doctor_list_template.ejs%>
<div class="nurse_system">
    <div class="container container_higher">
        <div class="ope_list_search">

            <div>
                <label>病房： </label>
                <select id="ward_zone_sel" onchange="showDoctorList()">
                    <option value="0">--</option>
                </select>
            </div>
            <div>
                <label>醫師別： </label>
                <select id="doctor_class_sel" onchange="showDoctorList()">
                    <option value="0" >--</option>
                </select>
            </div>
            <div class="btn_group">
                <a href="#" id="addDoctor" class="btn "><i class="fa fa-plus" aria-hidden="true"></i> 新增</a>
                <a href="#" onclick="doDelDoctor()" class="btn"><i class="fa fa-minus" aria-hidden="true"></i> 刪除</a>
            </div>
        </div>
        <table id="doctorTable" class="overflow-y">
            <thead>
            <tr>
                <th>共 <span class="ban" id="doctorTotalNum">23</span> 筆</th>
                <th>編輯</th>
                <th>員工編號</th>
                <th>姓名</th>
                <th>醫師別</th>
                <th>院內連絡電話</th>
                <th>住宅電話</th>
                <th>手機</th>
                <th>Enabled</th>
            </tr>
            </thead>
            <tbody>
                <!-- doctor_list_template -->
            </tbody>
        </table>
    </div>
</div>
<footer id="footer_bottom">
    <div id="footer_inner">
        <div class="footer_inner_text">
            送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。爸德未每校孩高法談路業切別，因出美強天建媽開問元地花流太不一，口寶或子花國城真環注孩。汽有外告門治提裡情夫，很一西通公實包叫試音前了內示列！球計談兒，著收一國完自。方出我力次是唱品到不理片！加候能院離全，常邊來入量價！
        </div>
    </div>
</footer>
<div class="remodal" data-remodal-id="doctorInfo_modal" style="min-width: 900px;">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>新增醫師資料</div>
    </div>
    <div class="remodal_body">
        <div class="grid_fifty text-20">
            <form id="doctorForm">
                <div>
                    <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 員工編號</label>
                    <input type="text" id="doctor_no" name="doctor_no">
                </div>
                <div>
                    <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 醫師姓名</label>
                    <input type="text" id="doctor_name" name="doctor_name">
                </div>
                <div>
                    <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 醫師別</label>
                    <select id="doctor_class" name="doctor_class">
                        <option value="0">--</option>
                    </select>
                </div>
                <div>
                    <label>病房區</label>
                    <div class="pure_form_text" ><%=session.user.ward_zone_name%></div>
                    <input type="hidden" id="ward_zone"  name="ward_zone" value="<%=session.user.ward_zone_id%>">
                </div>
                <div>
                    <label>Enabled</label>
                    <div class="checkbox_list text-left radio_list">
                        <label>
                            <input type="radio" class="option-input checkbox" name="enabled" value="Y" /> 是
                        </label>
                        <label>
                            <input type="radio" class="option-input checkbox" name="enabled" value="N" /> 否
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="grid_fifty text-20">
            <form id="doctorForm2">
                <div>
                    <label>院內電話</label>
                    <input type="text" id="doctor_ext" name="doctor_ext">
                </div>
                <div>
                    <label>住宅電話</label>
                    <input type="text" id="doctor_home_tel" name="doctor_home_tel">
                </div>
                <div>
                    <label></label>
                    <input type="text" id="doctor_home_tel2" name="doctor_home_tel2">
                </div>
                <div>
                    <label>手機號碼</label>
                    <input type="text" id="doctor_phone" name="doctor_phone">
                </div>
                <div>
                    <label></label>
                    <input type="text" id="doctor_phone2" name="doctor_phone2">
                </div>
                <div>
                    <label></label>
                    <input type="text" id="doctor_phone3" name="doctor_phone3" >
                </div>
                <div>
                    <label>備註</label>
                    <input type="text" id="remark" name="remark">
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="remodal_footer">
        <a href="#" onclick="doUpdateDoctor()" class="btn update-btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
        <a href="#" onclick="doCreatDoctor()" class="btn create-btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
    </div>
</div>

</body>

</html>
<script type="text/javascript" src="/js/Doctor/doctorInfoMaintain.js"></script>